$main-purple: rgb(99, 95, 199);
$light-purple: rgb(168, 164, 255);
$black: rgb(0, 1, 18);
$black-medium: rgb(32, 33, 44);
$black-light: rgb(43, 44, 55);
$gray: rgb(62, 63, 78);
$medium-gray: rgb(130, 143, 163);
$gray-light: rgb(228, 235, 250);
$light-grey: rgb(244, 247, 253);
$white: rgb(255, 255, 255);
$red: rgb(234, 85, 85);
$red-medium: rgb(255, 152, 152);
$error: rgb(234, 85, 85);

// font family
$font-family: 'Plus Jakarta Sans', sans-serif;

// font size

$fz-xl: 1.5rem;
$fz-l: 1.125rem;
$fz-m: 0.938rem;
$fz-s: 0.75rem;